<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-fluid">
  	<%= render "layouts/navigation" %>
    <div class="col-sm-10">
    	<p class="notice"><%= notice %></p>
    	<p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <div class="col-sm-2 intro top_padding">
      <%= render "layouts/introduction" %>
    </div>
  </body>
</html>
